<div style="position: absolute;width: 100%;height: 100%;z-index: 1000;" [class.hidden]="!show">
    <div style="position:relative;width: 100%;height:100%;background-color: #fff;">
        <div style="position: absolute;top: 20%;left: 40%;margin: -70px 0 0 -170px;margin: -5px 0 0 -10px !important;">
            <img src="assets/images/logo.png" class="logo mb-3" alt="">
            <h2 style="text-align: center;">انتظر</h2>
            <div class="loader-bubble loader-bubble-primary d-block"></div>
        </div>
    </div>
</div>