<!-- <button (click)="toggelSidebar()">BUTTON</button> -->
<app-spinner></app-spinner>
<div  class="app-admin-wrap layout-sidebar-large"  [ngClass]="{'hidden':show}">
  <div>
      <app-header-sidebar-large (headerToggleEv)="getHeaderState($event)"></app-header-sidebar-large>
  </div>
  <div class="app-admin-wrap-content d-flex flex-column sidenav-open"  style="scroll-behavior: smooth;background-color: #fafafa">
      <div id="content">
      </div>
      <div class="flex-grow-1"></div>
      <app-footer></app-footer>
  </div>
</div>

<!-- <div *ngIf="!authenticated" style="background-color: white;"></div> -->


